
<%- include ('partials/Individualheader') %>


<section class="form my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">

            <div class="col-lg-12 px-5 pt-5" style="text-align: center;">
                <h1 class="font-weight-bold py-3"> <%=msg%></h1>
                <h3 class="font-weight-bold py-3"> <%=msg2%></h3>
            </div>


        </div>
    </div>
</section>


<%- include ('partials/footer') %>


